.footer {
    background-color: $darkGreen;
    margin: 0;
    position: relative;
    padding: 20px 0;
}
.footer-info {
    text-align: center;
}

.footer-info a {
    color: $white;
    font-size: 1rem;
    text-decoration: none;
    display: block;
    padding-bottom: 5px;
}

.footer-info img {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
}
.footer-info p{
    font-size: 1rem;
    color:$white;
}

