.header {
    background-color: $darkGreen;
    margin: 0;
}

.logo {
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 10px;
}
.nav-list {
    margin: 0;
    padding:30px 0;
    float: right;
    width: 60%;
    li {
        list-style: none;
        float: left;
        z-index: 1;
    }
    a {
        text-decoration: none;
        color:$white;
        font-size: 1rem;
        padding-bottom: 10px;
    }
}

.nav-list li + li {
    margin-left: 5%;
    ::before {
        content: "|";
        margin-right: 10px;
    }
}

.nav-list li:hover {
    background: rgba(0,0,0,0.3);
}