.personal-photo {
    margin-top: 100px;
    margin-left: 15%;
    margin-bottom: 100px;
    border-radius: 5px;
    width: 25%;
    height: 500px;
}
.personal-phrase {
    font-size: 1.2rem;
    line-height: 3rem;
    float:right;
    margin-right: 15%;
    margin-top: 250px;
}

.main-content-aboutMe span {
    font-size: 3rem;
    font-weight: bold;
}

.main-content-aboutMe  strong {
    color:$orange;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-bottom: 60px;
}
.personal-info p {
    text-align: justify;
    line-height: 2.5rem;
    font-size: 1.2rem;
    margin-left: 24%;
    margin-bottom: 100px;
}

.personal-info a {
    color: #7B68EE;
}