@media (max-width: 767px) {
    .nav-list {
        display: none;
    }
    .nav-link-menu{
        margin-left: 50%;
        padding-top: 30px;
        display: block;
    }
    .logo {
        margin: 6px 5%;
    }
    .principal-banner p {
        top: 100px;
    }
}