.personal {
    background-color: $SecondaryColor;
    h2 {
        padding-top: 46px;
    }
    @media (min-width:60rem){
        h2 {
            font-size: 3rem;
        }
    }

}
.mente {
    color: #d73d6c;
}
.personal-info {
    padding-bottom:2.875rem;
    @media (min-width:60rem){
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.personal-image {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    img {
        width: 100%;
        @media (min-width:40rem){
            width: 50%;
        }
        @media (min-width:60rem){
            width: 80%;
        }
    }
    @media (min-width:60rem){
        width: 30%;
        padding-left: 11rem;
    }
}
.personal-bio {
    width: 90%;
    margin: 0 auto;
    p {
        line-height: 1.7rem;
        @media (min-width:40rem){
            font-size: 1.5rem;
            line-height: 3rem;
        }
    }
    @media (min-width:40rem){
        width: 50%;
        padding-right: 8rem;
    }
}