@media (max-width:1023px) {
    .nav-list {
        display: none;
    }
    .nav-link-menu{
        margin-left: 75%;
        padding-top: 30px;
        display: block;
    }
    .logo {
        margin: 6px 5%;
    }
    .principal-banner p {
        top: 120px;
    }
    
}