.footer {
    background-color: $darkGreen;
    margin: 0;
    position: relative;
    padding: 20px 0;
}
.footer-copyrigth {
    font-size: 1rem;
    color:$white;
    /*margin-top:15px;*/
    p {
        margin-bottom: -45px;
    }
}

.logo-footer-2 {
    width: 60px;
    height: 60px;
    margin-left: 50%;
    margin-bottom: -15px;
}
.e-mail {
    color: $white;
    font-size: 1rem;
    text-decoration: none;
    float: right;
    position: absolute;
    bottom:30px;
    left: 78%;

}