.img-creative {
    width: 30%;
    height: 300px;
    float: left;
    margin-top: 100px;
    margin-left: 15%;
}


.portfolio-1 p {
    margin-top: 120px;
    margin-right: 15%;
    float: right;
}

.img-psd{
    width: 30%;
    float: right;
    margin-right: 15%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.portfolio-2 p {
    margin-top: 200px;
    margin-left: 15%;
    float: left;
}

.img-quotes {
    width: 30%;
    float: left;
    margin-left: 15%;
    margin-top: 250px;
    margin-bottom: 100px;
}

.portfolio-3 p {
    float: right;
    margin-right: 12%;
}